@import '../colors';

.detail {
  min-height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #ccc;
  }

  .detail-header-info {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
    }

    .secondary {
      font-size: 0.9em;
      color: gray;
    }
  }

  .detail-header-actions {
    margin-top: 2.5rem;
    text-align: right;

    .action-btn {
      // Text upper case
      text-transform: uppercase;
      font-size: 80%;
      margin-left: 1rem;

      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        color: $primary;
        border-bottom: 2px solid $primary;
      }
    }
  }

  .detail-body {
    display: flex;
    flex-direction: column;

    .detail-form {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      font-size: 0.8rem;
      padding-left: 0;
      margin-top: 1rem;

      .input-group {
        width: 25%;
      }
    }
  }

  label {
    font-size: 0.7rem;
    font-weight: bold;
    color: gray;
  }

  input {
    background-color: lightgrey;
    border: none;
    border-bottom: 1px solid $primary;

    &:disabled {
      background-color: transparent;
      border: none;
    }
  }
}
