@import '../colors';

.detail {
  min-height: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  .detail-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #ccc;
  }

  .detail-header-info {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
    }

    .secondary {
      font-size: 0.9em;
      color: gray;
    }
  }

  .detail-body {
    display: flex;
    flex-direction: column;

    .detail-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.8rem;
      padding: 0 auto;
      margin-top: 1rem;


      .input-group {
        width: 25%;
      }
    }
  }

  .detail-header-buttons {
    margin-top: 1rem;
    text-align: right;
  }

  label {
    font-size: 0.7rem;
    font-weight: bold;
    color: gray;
  }

  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $primary;

    &:disabled {
      background-color: transparent;
      border: none;
    }
  }
}
