// Define color theme for the site

$primary: rgb(79, 186, 169);
$secondary: rgb(255, 255, 255);
$tertiary: rgb(208, 208, 208);
$brand: rgb(255, 255, 255);

$btn-colors: (
  primary: $primary,
   secondary: #ff851b,
   success: #2ecc40,
   info: #0074d9,
   warning: #ffdc00,
   danger: #ff4136,
   light: #f1f1f1,
   dark: #2f3f4f,
   default: #c8c8c8
);