@import './colors';
@import './pages/login.scss';
@import './components/table.scss';

.box {
   background: #fff;
   border-radius: 1rem;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
   padding: 1rem 2rem;
}

.btn {
   background: $primary;
   color: #fff;
   border-radius: 0.5rem;
   padding: .5rem 1rem;
   
   &:hover {
      background-color: lighten($color: $primary, $amount: 10%);
   }
}

img {
   border-radius: 50%;
   width: 3rem;
}


//TODO: Přesunout do _components.scss
.user-profile{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
}

.user-profile-info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: baseline;

      p {
         margin: 0 ;
      }

      .main {
         font-size: 1rem;
         font-weight: bold;
      }

      .secondary {
         font-size: 0.75rem;
         font-weight: normal;
      }
}

.user-profile-info-image{
      //
}



